
@{
    ViewBag.Title = "Status brisanja knjige";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="alert alert-success" role="alert">Podaci uspješno izbrisani!</div>
<br />
<br />
@Html.ActionLink("Povratak na popis knjiga", "Popis")

