
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Knjižnica</h2>

Aplikacija za knjižnicu
<br />
Knjižnica: @ViewBag.Knjiznica
<br />
Popis Knjiga: @Html.ActionLink("link", "Popis")

